@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --planastico-cold-black: #20263a;
  --planastico-white: #ffffff;
  --planastico-soft-yellow: #fff373;
  --planastico-yellow: #ffea00;
  --planastico-yellow-shade: #f6e200;
  --planastico-warm-soft-gray: #f0f0f0;
  --planastico-soft-gray-shade: #d3d2cb;
  --planastico-warm-soft-gray-shade: #eae9de;
  --planastico-cold-black-shade: #5c6274;
  --planastico-error-red: #e20c00;
  --planastico-shadow: 0 3px 0 var(--planastico-cold-black);
  --planastico-border-radius-xxs: 2px;
  --planastico-border-radius-s: 14px;
  --planastico-border-radius-m: 20px;
  --planastico-border-radius-l: 36px;
  --planastico-border-s: 2px solid var(--planastico-cold-black);
  --planastico-border-m: 3px solid var(--planastico-cold-black);
  --planastico-border-l: 5px solid var(--planastico-cold-black);
  --planastico-border-xl: 6px solid var(--planastico-cold-black);
  --planastico-max-z-index: 9999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable both-edges;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body,
input,
textarea,
button,
select {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--planastico-cold-black);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* ---- Firefox ---- */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--planastico-cold-black) var(--planastico-white);
}

/* ---- Chromium / Safari / Edge (WebKit) ---- */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: var(--planastico-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--planastico-yellow);
  outline-offset: -2px;
}
