  @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --planastico-cold-black: #20263A;
  --planastico-white: #FFFFFF;
  --planastico-soft-yellow: #FFF07B;
  --planastico-yellow: #FFE53C;
  --planastico-yellow-shade: #ECCE0B;
  --planastico-warm-soft-gray: #E9E8E3;
  --planastico-soft-gray-shade: #D3D2CB;
  --planastico-cold-black-shade: #5C6274;
  --planastico-error-red: #B3261E;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, input, textarea, button, select {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 3px solid;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}