@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --planastico-cold-black: #20263a;
  --planastico-white: #ffffff;
  --planastico-soft-yellow: #fff373;
  --planastico-yellow: #ffea00;
  --planastico-yellow-shade: #f6e200;
  --planastico-warm-soft-gray: #f0f0f0;
  --planastico-soft-gray-shade: #d3d2cb;
  --planastico-cold-black-shade: #5c6274;
  --planastico-error-red: #e20c00;
  --planastico-shadow: 0 4px 0 var(--planastico-cold-black);
  --planastico-border-radius-s: 14px;
  --planastico-border-radius-m: 20px;
  --planastico-border-s: 2px solid var(--planastico-cold-black);
  --planastico-border-m: 3px solid var(--planastico-cold-black);
  --planastico-border-l: 4px solid var(--planastico-cold-black);
  --planastico-border-xl: 6px solid var(--planastico-cold-black);
  --planastico-max-z-index: 9999;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px dashed var(--planastico-cold-black);
  outline-offset: 2px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
