@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --planastico-cold-black: #20263A;
  --planastico-white: #FFFFFF;
  --planastico-soft-yellow: #FFF373;
  --planastico-yellow: #FFEA00;
  --planastico-yellow-shade: #F6E200;
  --planastico-warm-soft-gray: #F0F0F0;
  --planastico-soft-gray-shade: #D3D2CB;
  --planastico-cold-black-shade: #5C6274;
  --planastico-error-red: #E20C00;
  --planastico-shadow: 0 4px 0 var(--planastico-cold-black);
  --planastico-border-radius: 20px;
  --planastico-border-s: 2px solid var(--planastico-cold-black);
  --planastico-border-m: 3px solid var(--planastico-cold-black);
  --planastico-border-l: 4px solid var(--planastico-cold-black);
  --planastico-border-xl: 6px solid var(--planastico-cold-black);
  --planastico-max-z-index: 9999;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, input, textarea, button, select {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px dashed var(--planastico-cold-black);
  outline-offset: 2px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}